.page404 {
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
}

.page404 p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.page404 a {
    color: #eee;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    background: var(--main-green);
    box-shadow: 0px 3px 5px 3px #888;
    transition: all 0.3s linear;
}

.page404 a:hover {
    color: #fff;
}
