body{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

:root {
    --main-blue: rgb(1, 1, 37);
    --main-green: rgb(4, 121, 4);
    --default-white: #eee;
    --dull-white: #aaa;
}

